.btn {
    align-items: center;
    background-color: cadetblue;
    border-radius: 20px;
    color: aliceblue;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    line-height: 26px;
    padding: 7px 20px;   
    margin-top: 10px;
    margin-bottom: 10px;
}