.mainContainer {
    position: relative;
    background: black;
    top: 23vh;
    h2 {
        text-align: center;
        padding: 10px;
    }
}

.card {
    display: flex;
    justify-content: center;
    min-height: 150vh;
}
.destinos {
    filter: opacity(0.7);
    width: 100%;
}

@media (max-width: 700px) {
    .card {
        max-height: 200px;
    }
}

@media (max-width: 450px) {
    .card {
        max-height: 180px;
    }
}

@media (max-width: 396px) {
    .card {
        max-height: 150px;
    }
}