.mainContainer {
    h2 {
        text-align: center;
        padding: 10px;
    }
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.card {
    min-width: 100%;
}
.destinos {
    min-width: 100% ;
}