.container {
    display: flex;
    background-color: black;
    color: white;
    font-size: large;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 10px;
    a {
        color: white;
        text-decoration: none;
    }
}