.container {
    display: flex;
    background-color: #0aad80;
    color: white;
    font-size: large;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    min-height: 10vh;
    a {
        color: white;
        text-decoration: none;
    }
}