.mainFooter {
    top: 20vh;
    position: relative;
    background-color: #000000b9;
    min-height: 20vh;
    font-size: xx-large;
    display: flex;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    h5 {
        padding: 15px;
    }
    p {
        padding: 15px;
    }
}
.icons {
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a {
        padding-inline: 15px;
        border-radius: 30px;
        background-color: rgb(39, 35, 35);
        color: white;
        &:hover {
            color:#5eab81;
        }
    }
}